@keyframes girarDireita {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.Inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  padding: 0 20px;

  .caixinha {
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 1s ease-in-out;

    &.fade-out {
      animation: fadeOut 1.3s ease-in-out;
    }

    img {
      animation: girarDireita 10s linear infinite;
    }
  }

  #ultima {
    text-align: center;
  }

  a {
    all: unset;

  }

}